*{
box-sizing:border-box;
}

body{
margin:0px;
}

div.header{
background-color:#FF69B4;
padding:50px;
margin:20px
}

div.side1{
width:70%;
margin-top:5px;
padding:150px 50px;
margin-left:20px;
background-color:#FF1493;
float:left;
}


div.side2{
width:24%;
margin-top:5px;
padding:150px 50px;
margin-left:20px;
background-color:#C71585;
float:left;
}

div.line2:after{
content:"";
display:table;
clear:both;
}

div.footer{
background-color:#DB7093;
padding:50px;
margin:20px;
}