div.header{
background-color:#00CED1;
padding:20px;
margin:15px;
text-align:center;
color:white;
}

div.sidebar{
background-color:#9ACD32;
text-align:center;
color:white;
float:left;
margin-right:15px;
width:170px;
height:253px;
display:table-cell;
}

div.maincontent{
background-color: Gold;
overflow: auto;
height: 160px;
margin-right:28px;
text-align: center;
color: white;

}

div.extracontent{
background-color:DimGrey;
margin-top: 8px;
margin-right: 25px;
text-align: center;
color: white;
overflow: auto;
height: 86px;
}

div.line2{
margin:15px;
width:100%;
}

div.footer{
background-color:orange;
padding:15px;
text-align:center;
color:white;
margin:15px;
}
